# Learning DataFrames

In [40]:
import pandas as pd

df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=["A", "B", "C"], index=["x","y","z"])

Using the function below by default allows us to see the first five rows.

In [41]:
df.head()

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

Using the function below will allow us to see the first two rows of our data

In [42]:
df.head(2)

   A  B  C
x  1  2  3
y  4  5  6

Using the tail function below allows us to see the last two rows.

In [43]:
df.tail(2)

   A  B  C
y  4  5  6
z  7  8  9

We can use the function below to see the name of our columns along with what data type it is

In [44]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

We can use the function below to see the name of our rows along with their data type.

In [45]:
df.index

Index(['x', 'y', 'z'], dtype='object')

We can use the function below to grab info about our data frame.

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

We can use the method below to get statiscal stats about our data frame.

In [47]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

## Loading in Dataframes from Files

Using the code below we can read a csv file containing data.

In [48]:
coffee = pd.read_csv('./warmup-data/coffee.csv')

In [49]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

We can transform file types into different file types to make them smaller. For example we can use feather or parquet. Parquet is the most common one as it is the smallest file size.

In [50]:
results = pd.read_parquet('./data/results.parquet')

In [51]:
results.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None